//animations

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes pulse {
  0% {transform: scale(1); background-color:#BCB658;}
  50% {transform: scale(1.1);background-color: #E86C00;}
  100% {transform: scale(1);background-color:#BCB658;}
}

@keyframes pulse2 {
  0% {transform: scale(1); background-color: #ffffff;}
  50% {transform: scale(1.1);background-color: #1B1B1E;}
  100% {transform: scale(1);background-color:#FFFFFF;}
}


body{
  font-family: 'Raleway', sans-serif;
}

.contenedor-principal{
  min-width: 350px;
  text-align: center;
}

.menu2{
  height: 85px;
  text-align: center;
  width: 100%;
  background-color:rgba(0,0,0,.3);
  color: white;
  margin: auto;
  z-index: 10000;
  @media (max-width: 800px){
    display: block!important;
    position: fixed!important;
    background-color: white!important;
  }
  }

.menu-mobile-item{
  font-size: 22px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-mobile-item:hover{
  color:  #E86C00!important;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  cursor: pointer;
}

.burguer{
  position: absolute;
  right: 0;
  top: 5px;
  display:  inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
  @media (min-width: 800px){
    display: none!important;
  }

}
.burguer span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.burguer span:before, .burguer span:after {
  position: absolute;
  content: '';
}
.burguer span, .burguer span:before, .burguer span:after {
  width: 30px;
  height: 6px;
  background-color: black;
  display: block;
}
.burguer span:before {
  margin-top: -12px;
}
.burguer span:after {
  margin-top: 12px;
}

.example3 span {
  -webkit-transition: 0.2s ease 0s; transition: 0.2s ease 0s;
}
.example3 span:before, .example3 span:after {
  -webkit-transition-property: margin, opacity; transition-property: margin, opacity;
  -webkit-transition-duration: 0.2s, 0s; transition-duration: 0.2s, 0s;
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example3:hover span {
  width: 6px;
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example3:hover span:before, .example3:hover span:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}


.contenedor-logo-menu{
  @media (max-width: 800px){
    margin: 10px auto!important;
  }
}

.menu-lado{
  font-size: 12px;
  top: 45%;
  right: 20px;
 -webkit-border-radius: 5px;
  background-color: rgba(0,0,0,.3);
  padding: 5px;
  z-index: 10000;
  -webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInLeft 2s; /* Firefox < 16 */
  -ms-animation: fadeInLeft 2s; /* Internet Explorer */
  -o-animation: fadeInLeft 2s; /* Opera < 12.1 */
  animation: fadeInLeft 2s;
  @media (max-width: 800px){
    display: none!important;
  }
}

.seccion-lado{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.seccion-lado:hover{
  cursor: pointer;
  color: #BCB658;
}

.menu-principal{
  margin: 10px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  @media (max-width: 800px){
    display: none!important;
  }
}

.menu-principal:hover{
  color: #BCB658;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
}

.menu-mobile{
  display: none;
  top:85px;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 40%;
  z-index: 200000;
  background-color: black;
}

.menu-open{
  display: block!important;
}
.logo{
  height: 400px;
  margin: auto;
  color: white;
  img{
    width: 90%;
    left: 10px!important;
  }
}

.logo h2{
  @media (max-width: 500px){
    right: 10px!important;
    margin-bottom: -13px!important;
    font-size: 12px!important;
  }
}

.logo h1{
  @media (max-width: 500px){
   text-align: center!important;
  }
}

.logo img{
      @media (max-width: 500px){
    margin-top: 20% !important;
    }
  }



.contenedor{
  width: 100%;
  text-align: left;
}

.cuadrado{
  width: 40%;
  height: 40%;
  min-width: 300px;
  margin: 10px auto;
  input, textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    }
  label{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;

  }
  button{
    margin-top: 50px;
    width: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border: none;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    }

}

.cuadrado button:hover{
    color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;


}

.contacto{
  display: flex;
  flex-wrap: wrap;

}

.rectangulo-titulo, .rectangulo-servicios, .rectangulo-servicios2{
  width: 40px;
  height: 10px;
  margin-bottom: 10px;
  background-color:#E86C00;
 }

.rectangulo-servicios2{
  background-color: #BCB658!important;
}

.titulo-seccion{
  font-size: 68px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  @media (max-width: 500px){
    font-size: 40px;
    line-height: 32px;
  }
}

.parrafo-seccion{
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;


}

.flex-servicios{
  width: 120px;
  margin: 10px;
}

.contenedor-estadisticas{

  h1{
    color: white;
    font-size: 3em;
    margin: 0.67em 0;
  }
  h2{
    color: white;
    font-family: inherit;
    line-height: 22px;
    font-size: 18px;
  }
}

.contenedor-flex img{
  overflow: hidden;
  width: 100%;
}

.contenedor-nosotros{
  position: relative;
  overflow: hidden;
}



.overlay{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background:rgba(0,0,0,.75);
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease
}

.overlay span{
  font-family: 'Raleway', sans-serif;
  top: 40%;
  left: 0;
  width: 100%;
  position: relative;
  color: white;
  font-size: 22px;
}

.contenedor-nosotros:hover .overlay{
  opacity:1;
}

.contenedor-trabajos{
  position: relative;
  overflow: hidden;
}

.contenedor-trabajos:hover .overlay{
  opacity:1;
}

.flex-servicios-animate{
  -webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInLeft 2s; /* Firefox < 16 */
  -ms-animation: fadeInLeft 2s; /* Internet Explorer */
  -o-animation: fadeInLeft 2s; /* Opera < 12.1 */
  animation: fadeInLeft 2s;
}

.logo{
 margin: auto;
  text-align: center;
  -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 2s; /* Firefox < 16 */
  -ms-animation: fadeIn 2s; /* Internet Explorer */
  -o-animation: fadeIn 2s; /* Opera < 12.1 */
  animation: fadeIn 2s;


}


.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
}

.animated {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#clientes .parrafo-seccion{
  @media (max-width: 800px){
    font-size: 13px!important;
  }
}

.flex-trabajos{
  @media (max-width: 600px){
   flex-direction: column!important;
  }
}



.error-message{
  color: white!important;
  font-size: 12px;
  font-weight: 700;
  -webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInLeft 2s; /* Firefox < 16 */
  -ms-animation: fadeInLeft 2s; /* Internet Explorer */
  -o-animation: fadeInLeft 2s; /* Opera < 12.1 */
  animation: fadeInLeft 2s;

}

.menu-selected{
  font-weight: bolder;
  color: #E86C00;

}