<div class="contenedor-principal">
    <div class="contenedor-secundario" style="position: relative; overflow: hidden; min-height: 500px;">
        <video style="position: absolute; left: 0; top: 0; width: 100%" preload="preload" id="video" autoplay="autoplay" loop="loop">
            <source src="./images/file.mp4" type="video/webm"></source>
        </video>
        <div class="menu2" style="position: absolute; display: flex">
            <div style="width: 188px; height:64px;margin: 10px"><img src="./images/logo.svg" alt=""></div>
            <div style="margin: auto; text-align: center; display: flex">
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">HOME</div>
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">SERVICIOS</div>
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">NOSOTROS</div>
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">WORK</div>
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">EQUIPO</div>
            <div class="menu-principal" ng-click="appCtrl.goToAnchor('prueba')">CONTACTO</div>
            </div>
        </div>

        <div class="logo" style="position: relative; top: 100px">
                <div style="max-width: 850px; text-align: center; margin: auto">
                    <h1 style="text-align: left">Bienvenidos a</h1>
                    <div class="logo"><img src="./images/logo.svg" alt=""></div>
                    <h2 ac-animate animation-in="flex-servicios-animate" style="position: absolute; bottom: 20px; right: 165px; font-size: 18px">SOLUCIONES INFORMATICAS PARA TODO EL MUNDO</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor" style="background-color: black">
        <div style="max-width: 850px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
            <div class="rectangulo-titulo animated pulse" ></div>
            <span class="titulo-seccion"  ac-animate animation-in="flex-servicios-animate">Nuestros<br>Servicios</span>
            <p class="parrafo-seccion" style="color: white">Brindamos Diseños Web originales y a la medida de cada
                proyecto.<br>
                Analizamos el perfil de cada cliente, el público al que apunta y las necesidades de comunicación. <br>
                Optimizamos cada Sitio para buscadores, logrando diseños veloces y efectivos que convierten visitantes
                en clientes.<br>
                <span style="color: #BCB658; font-size: 20px; margin-top: 5px; margin-bottom: 5px; font-weight: bolder">Tenes una idea y no sabes cómo desarrollarla?</span><br>
                Impulsamos y damos asesoramientos a Startups, mediante programas de subsidios promocionados por el Banco
                Interamericano de desarrollo. Actualmente trabajamos con las lineas que tienen mayor convocatoria y
                casos de éxito, tales como PAC Empresas, PAC Emprendedores, FONTSOFT, FONTAR. Para proyectos que
                necesitan ser asesorados por incubadoras, somos una subsidiaria en Capital Federal de la Cooperativa
                IDeAAr.</p>
            <div class="contenedor-flex" style="display: flex; flex-wrap: wrap">
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Diseñamos Sitios Web Profesionales y Originales</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Servicio de Web Hosting para tu Sitio Web</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Posicionamos tu Web en los primeros lugares de Google</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Aceleradora de Startups</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Usamos tecnologías modernas y universales</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Registro de Dominios Argentinos e Internacionales</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Estadísticas de Visitantes en tiempo real</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Diseño de Imágen Corporativa (Branding)</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Presencia profesional en las Redes Sociales</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Servicio de Community Manager en Redes Sociales</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios"></div>
                    <p style="color: white">Diseño y Envío de Newsletters por E-mail</p>
                </div>
                <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                    <div class="rectangulo-servicios2"></div>
                    <p style="color: white">Comercio Electrónico con Carrito de Compras</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor" style="position: relative; overflow: hidden">
        <video style="position: absolute;left: 0; top: 0; width: 100%" preload="preload" id="video" autoplay="autoplay" loop="loop">
            <source src="./images/file.mp4" type="video/webm"></source>
        </video>
        <div style="max-width: 850px; margin: auto; padding-top: 20px; position: relative; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
            <div class="rectangulo-titulo animated pulse2"></div>
            <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate">QUIENES<br>SOMOS</span>
            <p class="parrafo-seccion" ac-animate animation-in="flex-servicios-animate">Somos una empresa con más de tres años de experiencia en desarrollo de sistemas y
                páginas web.
                Además funcionamos como incubadora de startups, ayudando a las Pymes a crecer mediante el uso de
                herramientas subsidiarias nacionales. <br> <br>
                <b style="font-size: 22px; color: white">NUESTRA MISION</b> <br>
                Arrancamos con un sueño, acercar a las empresas en desarrollo las ultimas tecnologias del mercado a nivel
            informático,
            brindandoles un servicio premium de primer nivel, a un costo accesible, y con el máximo soporte y
            asesoramiento. <BR>
            Luego, fuimos maximizando nuestra cartera de servicios mediante la creación de un sistema de gestión de
            stock y ventas para la pequeña y mediana empresa, que fue creciendo hasta convertirse en una herramienta
            indispensable para cualquier comercio minorista que desee comenzar con una gestión transparente, intuitiva y
            altamente funcional de sus movimientos. <BR>
            A partir de la buena experiencia con nuestros clientes, el boca en boca nos permitió seguir creciendo
            gracias a un servicio de calidad y personalizado en todos los niveles de la administración de sistemas.<br>
            En resumidas cuentas, nuestra misión es ayudar, queremos que en Argentina las cosas salgan, y ponemos todo
            de nuestra parte para que cada empresa en este país tenga servicios de máxima calidad a un precio justo.</p>
        </div>
    </div>
    <div class="contenedor" style="background-color: white">
        <div style="max-width: 850px; margin: auto; padding-top: 100px; padding-bottom: 100px; padding-left: 10px; padding-right: 10px">
            <div class="rectangulo-titulo animated pulse"></div>
            <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate" style="color: black;">Nuestro Trabajo</span>
        </div>

        <div class="contenedor-flex" style="flex-direction: column; display: flex; width: 100%">

            <div style="display:flex; flex-direction: row">
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-1.jpg" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                    </div>
                </div>
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-2.jpg" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">GK CEPILLOS</b><br>Diseño Web</span>
                    </div>
                </div>
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-3.png" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">BAYRES NO PROBLEM</b><br>Diseño Web</span>
                    </div>
                </div>
            </div>
            <div style="display:flex; flex-direction: row">
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-4.png" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">CORPOCAR</b><br>Diseño Web</span>
                    </div>
                </div>
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-5.png" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">MI PRIMER ESPONSOR</b><br>Diseño Web</span>
                    </div>
                </div>
                <div class="contenedor-trabajos" style="flex: 1;min-width: 180px; min-height:140px"><img src="./images/trabajos-6.jpg" alt="">
                    <div class="overlay">
                        <span><b style="font-weight: bolder; color: #E86C00">UIGLP</b><br>Diseño Web</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="contenedor" style="background-color: white">
        <div style="max-width: 850px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
            <div class="rectangulo-titulo animated pulse2"></div>
            <span class="titulo-seccion"  ac-animate animation-in="flex-servicios-animate" style="color: black">Nuestros<br>Clientes.</span>
            <p class="parrafo-seccion" ac-animate animation-in="flex-servicios-animate" style="font-weight: bolder; font-size: 24px;top: 128px">ALGUNAS DE LAS EMPRESAS CON LAS QUE TRABAJAMOS</p>
            <div class="contenedor-flex" style="flex-direction: column; display: flex; width: 100%">

                <div style="display:flex; flex-direction: row; margin-bottom: 100px">
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-1.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-2.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-3.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-4.png" alt="">
                    </div>
                </div>

                <div style="display:flex; flex-direction: row">
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-5.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-6.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-7.png" alt="">
                    </div>
                    <div style="flex: 1;min-width: 100px; min-height:100px"><img src="./images/marca-8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="contenedor" id="prueba" style="position: relative; overflow: hidden">
    <div style="max-width: 850px; min-height: 150px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <video style="position: absolute;left: 0; top: 0; width: 100%" preload="preload" id="video" autoplay="autoplay" loop="loop">
            <source src="./images/file.mp4" type="video/webm"></source>
        </video>
        <div class="rectangulo-titulo" style="position: absolute"></div>
        <span class="titulo-seccion" style="color: black; position: absolute">Nuestro <br> Equipo.</span>
        <p class="parrafo-seccion" ac-animate animation-in="flex-servicios-animate" style="font-weight: bolder; color:white; font-size: 24px;top: 128px; position: absolute">A TUS ORDENES</p>
    </div>
    <div class="contenedor-flex" style="flex-direction: row; display: flex; flex-wrap:wrap; width: 100%">
        <div style="display:flex; flex-wrap:wrap; flex-direction: row; width: 100%">
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img src="./images/foto-diego.png" alt="">
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">DIEGO YANKELEVICH</b><br>Diseñador Multimedia</span></div>
            </div>
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img src="./images/foto-pela.png" alt="">
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">ARIEL CESSARIO</b><br>Programador Senior</span>
                </div>
            </div>
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img src="./images/foto-matata.png" alt="">
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">MATEO MANEFF</b><br>Programador Senior</span>
                </div>
            </div>
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img src="./images/foto-julito.png" alt="">
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">JULIO LAVAGGI</b><br>Analista de sistemas</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenedor" style="background-color: #3D9BE9">
    <div style="max-width: 850px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse"></div>
        <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate" style="color: #FBE083; text-transform: none">Aceleradora de Startups.</span>
        <p class="parrafo-seccion" style="color: white">Hace unos años nos dimos cuenta que podíamos hacer mucho más, no
            solo ofrecer sistemas, Branding y servicios de diseño web, sino que también podíamos ayudar a nuevos
            emprendedores a conseguir fondos para poder llevar a cabo sus sueños.
            <br> Podemos decir que esto es algo que nos da gran satisfacción ya que como incubadora pudimos ayudar a las
            empresas a llevar a cabo sus emprendimientos, y gracias a estas interacciones positivas, nuestra red de
            contacto ha crecido exponencialmente, dándonos la oportunidad de poder brindar soluciones a un amplio
            espectro de compañías.</p>
        <h1 class="parrafo-seccion"
            style="color: #FBE083!important; font-family: Raleway; font-size: 30px; line-height: 34px">Tenes un proyecto
            que necesita financiamiento? consultanos!</h1>
        <div class="contenedor-flex" style="flex-direction: row; display: flex; flex-wrap:wrap; width: 100%">

            <div style="display:flex; flex-wrap:wrap; flex-direction: row; width: 100%">
                <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate" style="flex: 1;min-width: 150px; min-height: 150px">
                    <h1>56</h1>
                    <h2>CLIENTES FELICES</h2>
                </div>
                <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate" style="flex: 1;min-width: 150px; min-height: 150px">
                    <h1>30</h1>
                    <h2>SITIOS WEB EN LINEA</h2>
                </div>
                <div class="contenedor-estadisticas"  ac-animate animation-in="flex-servicios-animate" style="flex: 1;min-width: 150px; min-height: 150px">
                    <h1>10</h1>
                    <h2>CAMPANAS SOCIALES</h2>
                </div>
                <div class="contenedor-estadisticas"  ac-animate animation-in="flex-servicios-animate" style="flex: 1;min-width: 150px; min-height: 150px">
                    <h1>2500</h1>
                    <h2>TAZAS DE CAFE</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenedor rojo-claro contacto">
    <div class="cuadrado" style="display: flex; flex-direction: column">
        <div class="rectangulo-titulo" style="background-color: white"></div>
        <span class="titulo-seccion" style="color: black">CONTACTO</span>
        <div style="min-width: 350px; height: 20px; background-color: white; margin-bottom: 10px"></div>
        <div style="min-width: 350px; height: 20px; background-color: white; margin-bottom: 10px"></div>
        <div style="min-width: 350px; height: 20px; background-color: white; margin-bottom: 10px"></div>
    </div>
    <div class="cuadrado" style="display: flex; flex-direction: column">
        <h1 style="color: black; font-size: 18px">No aguantamos más las ganas de que nos escribas!</h1>
        <h2 style="font-size: 14px">El equipo <b>AC</b>Desarrollos
            info@ac-desarrollos.com</h2>
    </div>
</div>
<div class="contenedor" style="background-color: black; min-height: 200px"></div>
</div>