<div class="contenedor-principal">
    <div class="contenedor-secundario" id="home" style="position: relative; overflow: hidden; min-height: 800px;"
         emit-menu>
        <video poster="./images/poster.png" style="position: absolute; left: 0; top: 0;" preload="preload" id="video"
               autoplay="autoplay" loop="loop">
            <source src="./images/file.mp4" type="video/webm"/>
        </video>
        <div class="menu2" style="position: absolute; display: flex">
            <div class="contenedor-logo-menu" style="width: 200px;margin: auto;"><img src="./images/logo.svg" alt="">
            </div>
            <div ng-click="appCtrl.menu = !appCtrl.menu" ng-class="{'example3': appCtrl.menu}"><a href=""
                                                                                                  class="burguer"><span></span></a>
            </div>
            <div style="margin: auto; text-align: center; display: flex">
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='home'}"
                     ng-click="appCtrl.goToAnchor('home')">HOME
                </div>
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='mision2'}"
                     ng-click="appCtrl.goToAnchor('mision2')">RESULTADOS
                </div>
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='servicios'}"
                     ng-click="appCtrl.goToAnchor('servicios')">SERVICIOS
                </div>
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='work'}"
                     ng-click="appCtrl.goToAnchor('work')">WORK
                </div>
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='mision'}"
                     ng-click="appCtrl.goToAnchor('mision')">NOSOTROS
                </div>
                <div class="menu-principal" ng-class="{'menu-selected':appCtrl.selected=='equipo'}"
                     ng-click="appCtrl.goToAnchor('equipo')">EQUIPO
                </div>
                <div ng-class="{'menu-selected':appCtrl.selected=='contacto'}"
                     ng-click="appCtrl.goToAnchor('contacto')">
                    <svg style="height: 38px; margin-top: -7px;" height="64" version="1.1" width="64"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                        <desc>Created with Snap</desc>
                        <defs></defs>
                        <g>
                            <path fill="#fff"
                                  d="M61.693118,24.434001C61.693118,24.434001,2.3068820000000017,24.434001,2.3068820000000017,24.434001C2.3068820000000017,24.434001,31.999406,44.331985,31.999406,44.331985C31.999406,44.331985,61.693118,24.434001,61.693118,24.434001"></path>
                            <polygon fill="#fff" points="50,61.447 99.998,27.447 99.998,83 0,83 0,27.447 "
                                     transform="matrix(0.59386236,0,0,0.59386236,2.306882,10.338341)"></polygon>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="menu-mobile" ng-class="{'menu-open':appCtrl.menu}" style="margin: auto; text-align: center;">
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='home'}"
                 ng-click="appCtrl.goToAnchor('home');appCtrl.menu=!appCtrl.menu;">HOME
            </div>
            <div class="menu-mobile-item"
                 ng-class="{'menu-selected':appCtrl.selected=='mision2' || appCtrl.selected=='resultados'}"
                 ng-click="appCtrl.goToAnchor('mision2');appCtrl.menu=!appCtrl.menu;">RESULTADOS
            </div>
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='servicios'}"
                 ng-click="appCtrl.goToAnchor('servicios');appCtrl.menu=!appCtrl.menu;">SERVICIOS
            </div>
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='contacto'}"
                 ng-click="appCtrl.goToAnchor('contacto');appCtrl.menu=!appCtrl.menu;">CONTACTO
            </div>
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='work'}"
                 ng-click="appCtrl.goToAnchor('work');appCtrl.menu=!appCtrl.menu;">WORK
            </div>
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='mision'}"
                 ng-click="appCtrl.goToAnchor('mision');appCtrl.menu=!appCtrl.menu;">NOSOTROS
            </div>
            <div class="menu-mobile-item" ng-class="{'menu-selected':appCtrl.selected=='equipo'}"
                 ng-click="appCtrl.goToAnchor('equipo');appCtrl.menu=!appCtrl.menu;">EQUIPO
            </div>

        </div>

        <div class="menu-lado" ng-class="{'menu-lado-movida':appCtrl.movida}" style="position: fixed; display: flex">
            <div style="margin: auto; text-align: left; display: flex; flex-direction: column">
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='home'}"
                     ng-click="appCtrl.goToAnchor('home')">HOME
                </div>
                <div class="seccion-lado"
                     ng-class="{'menu-selected':appCtrl.selected=='mision2' || appCtrl.selected=='resultados'}"
                     ng-click="appCtrl.goToAnchor('mision2')">RESULTADOS
                </div>
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='servicios'}"
                     ng-click="appCtrl.goToAnchor('servicios')">SERVICIOS
                </div>
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='contacto'}"
                     ng-click="appCtrl.goToAnchor('contacto')">CONTACTO
                </div>
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='work'}"
                     ng-click="appCtrl.goToAnchor('work')">WORK
                </div>
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='mision'}"
                     ng-click="appCtrl.goToAnchor('mision')">NOSOTROS
                </div>
                <div class="seccion-lado" ng-class="{'menu-selected':appCtrl.selected=='equipo'}"
                     ng-click="appCtrl.goToAnchor('equipo')">EQUIPO
                </div>

            </div>
        </div>

        <div class="logo" style="position: relative; top: 70px">
            <div style="max-width: 850px; text-align: center; margin: auto; margin-top: 8%">
                <div class="logo"><img src="./images/logo.svg" alt=""></div>
                <h1 ac-animate animation-in="flex-servicios-animate"
                    style="text-align: center;margin-top: 40px; margin-left: 5px; margin-right: 5px"><span
                        style="font-size: 32px; color: black; font-weight: bolder">¿Querés vender más? ¿Tener mas clientes? </span><br>
                    Nosotros te brindamos la mejor solución </h1>

            </div>
        </div>
    </div>
</div>

<div class="contenedor" id="mision2" style="position: relative; overflow: hidden" emit-menu>

    <div style="max-width: 850px; margin: auto; padding-top: 20px; position: relative; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse"></div>
        <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate">Más Clientes, Más Ventas</span>
        <p class="parrafo-seccion" ac-animate animation-in="flex-trabajos-animate" style="color: white">
            Anticiparse a las nuevas tendencias, demostrar que uno es la mejor opción, atención a los detalles,
            generar la mejor experiencia para el comprador, innovación, facilidad al momento de comprar. Estas son solo
            algunas de las muchas formas de vender más y en un solo lugar, se puede conseguir todo esto de una manera
            fácil y directa.
            <br>
            <br>
            Tu solución está a un click de distancia, las ventas en la web se incrementaron un 51% durante el 2016,
            esto significa un total de <b>17 millones de Argentinos</b> comprando online!
            <br>
            <br>
            <b style="font-size: 22px; color: #E86C00">
                Si no estás convencido, mirá lo que pasó durante el 2016 en la web:
            </b> <br></p>
        <div class="contenedor-flex" style="display: flex; flex-wrap: wrap; justify-content: center">
            <div class="flex-servicios" style="width: 178px" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-vender animated pulse"></div>
                <p style="color: white">El 99% de la población adulta de Argentina compró online.</p>
            </div>
            <div class="flex-servicios" style="width: 178px" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-vender animated pulse"></div>
                <p style="color: white">47 millones de pedidos online de $2.200 en promedio.</p>
            </div>
            <div class="flex-servicios" style="width: 178px" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-vender animated pulse"></div>
                <p style="color: white">El 66% de la gente prefiere que su producto llegue a domicilio antes que ir a comprarlo.</p>
            </div>
            <div class="flex-servicios" style="width: 178px" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-vender animated pulse"></div>
                <p style="color: white">El 60% de la gente prefiere su celular al momento de buscar un producto.</p>
            </div>
        </div>

    </div>
</div>

<div class="contenedor" style="background-color: white" id="resultados" emit-menu>
    <div style="max-width: 850px; margin: auto; padding-top: 20px; padding-bottom:20px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse2"></div>
        <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate" style="color: black">
            Resultados garantizados
        </span>
        <p class="parrafo-seccion" ac-animate animation-in="flex-trabajos-animate" style="top: 128px;">
            La mayoría de las empresas ofrecen la creación de páginas web, nosotros no somos la mayoría de las empresas,
            ofrecemos soluciones que se adaptan a lo que vos necesitás.
            <br><br>
            <b style="font-size: 1.2em;">¿Cómo hacemos esto?</b>
            <br>

            Nosotros no te ofrecemos una página de e-commerce, nosotros te damos una sucursal online, abierta las 24hs,
            sin restricciones de ubicación, sin empleados y aún así generando una experiencia personalizada
            para tus clientes a través de las últimas tendencias en diseño sin que vos te tengas que preocupar por nada.
            <br><br>

            Vas a poder vender con cuotas sin lidiar con bancos, te vas a poder financiar de una manera rápida y simple!
            <br><br>

            Te damos a vos el control de la sucursal desde la comodidad de tu teléfono, no te preocupes mas por irte de
            vacaciones y que tu negocio no siga generando, esos problemas son del pasado, dejanos ayudarte a aprovechar
            el futuro.
            <br><br>

            Y si ya tenés tu página, pedinos una consultoría gratuita para evaluar si tu web está preparada para
            darte lo que vos esperás!<br><br>

    </div>
</div>


<div class="contenedor" id="servicios" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
" emit-menu>
    <div style="max-width: 850px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse"></div>
        <span style="color: black" class="titulo-seccion" ac-animate animation-in="flex-servicios-animate">Todos nuestros Servicios</span>
        <p class="parrafo-seccion" ac-animate animation-in="flex-trabajos-animate">
            Brindamos Diseños Web originales y a la medida de cada negocio.
            <br><br>
        </p>
        <div class="contenedor-flex" style="display: flex; flex-wrap: wrap; justify-content: center">
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios"></div>
                <p style="color: black">Diseños Profesionales y Únicos</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios2"></div>
                <p style="color: black">Imagen corporativa</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios"></div>
                <p style="color: black">Posicionamiento Web</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios2"></div>
                <p style="color: black">Marketing online</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios"></div>
                <p style="color: black">Redes sociales</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios2"></div>
                <p style="color: black">Estadísticas en tiempo real</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios"></div>
                <p style="color: black">Hosting para tu Sitio Web</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios2"></div>
                <p style="color: black">Newsletters</p>
            </div>
            <div class="flex-servicios" ac-animate animation-in="flex-servicios-animate">
                <div class="rectangulo-servicios"></div>
                <p style="color: black">Fidelización</p>
            </div>
        </div>
    </div>
</div>

<div class="contenedor rojo-claro contacto" id="contacto" style="position: relative; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8baf8d+0,a1cca5+100 */
background: #8baf8d; /* Old browsers */
background: -moz-linear-gradient(top,  #8baf8d 0%, #a1cca5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #8baf8d 0%,#a1cca5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #8baf8d 0%,#a1cca5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8baf8d', endColorstr='#a1cca5',GradientType=0 ); /* IE6-9 */
overflow: hidden" emit-menu>

    <div style="max-width: 850px;width: 100%; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px; display: flex; flex-wrap: wrap">
        <div form-id="form-contacto" class="cuadrado" style="display: flex; flex-direction: column; position: relative">
            <div class="rectangulo-titulo animated pulse2"></div>
            <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate"
                  style="color: black">CONTACTO</span>
            <div style="height: 65px" class="controls">
                <label>Escribe tu nombre:</label>
                <input ac-validator is-required="* Debe ingresar un nombre" type="text"
                       class="form-control" ng-model="appCtrl.nombre" id="contacto-nombre">
            </div>
            <div style="height: 65px" class="controls controls-margin">
                <label>E-mail:</label>
                <input ac-validator is-mail="* El mail es incorrecto" type="email"
                       class="form-control" ng-model="appCtrl.mail" id="contacto-mail">
            </div>
            <div style="height:65px" class="controls controls-margin">
                <label>Asunto:</label>
                <input ac-validator is-required="* Debe ingresar un tema de consulta" type="text"
                       class="form-control" ng-model="appCtrl.asunto" id="contacto-asunto">
            </div>
            <div style="height: 65px" class="controls controls-margin">
                <label>Consulta:</label>
                <textarea ac-validator is-required="* Debe ingresar una consulta" ng-model="appCtrl.mensaje"
                          class="form-control" name="" id="contacto-consulta" rows="10"
                          style="height: 60px;"></textarea>
            </div>
            <button id="contacto-enviar-mobile" ac-validator ng-click="appCtrl.sendMail();">Enviar</button>
        </div>
        <div class="cuadrado  media"
             style="display: flex; position: relative; flex-direction: column; margin-top: 150px; margin-left: 15px">
            <h1 style="color: black; font-size: 18px">Pedinos tu presupuesto personalizado! No pierdas mas ventas!</h1>
            <h2 style="font-size: 14px">El equipo <b>AC</b>Desarrollos <br>
                <b>ventas@ac-desarrollos.com</b></h2>
        </div>
    </div>
</div>

<div class="contenedor" id="work" style="background-color: white;" emit-menu>
    <div style="max-width: 850px; margin: auto; padding-top: 50px; padding-bottom: 50px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse"></div>
        <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate" style="color: black;">Nuestro Trabajo</span>
    </div>

    <div>

        <div class="contenedor-flex" style="display: flex; flex-wrap:wrap; width: 100%; min-height: 200px">
            <div class="contenedor-trabajos color-trabajos-1">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-1.svg" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>

            <div class="contenedor-trabajos color-trabajos-2">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-2.svg" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>

            <div class="contenedor-trabajos color-trabajos-3">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-3.png" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>


        </div>

        <div class="contenedor-flex" style="display: flex; flex-wrap:wrap; width: 100%; min-height: 200px">
            <div class="contenedor-trabajos color-trabajos-5">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-5.svg" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>

            <div class="contenedor-trabajos color-trabajos-6">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-6.svg" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>

            <div class="contenedor-trabajos color-trabajos-4">

                <div class="contenedor-trabajos-img">
                    <img ac-animate animation-in="flex-trabajos-animate" src="./images/trabajos-4.svg" alt="">
                </div>
                <div class="overlay">
                    <span><b style="font-weight: bolder; color: #E86C00">HYDROX</b><br>Diseño Web</span>
                </div>
            </div>


        </div>


    </div>
</div>

<div class="contenedor" id="mision" style="position: relative; overflow: hidden" emit-menu>
    <div style="max-width: 850px; margin: auto; padding-top: 20px; position: relative; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <div class="rectangulo-titulo animated pulse3"></div>
        <span class="titulo-seccion" ac-animate animation-in="flex-servicios-animate" style="color: #A1CCA5">QUIENES<br>SOMOS</span>
        <p class="parrafo-seccion" style="color: lightgrey" ac-animate animation-in="flex-servicios-animate">
            Somos una empresa jóven que no quiso empezar como todas las demás. Nuestra historia se remonta
            al 2012 cuando empezamos a asorar a PYMES en la instalación de sistemas. Con el tiempo nos dimos cuenta
            que nuestra vocación estaba puesta en la generación de negocios y la administración de emprendimientos.
            <br><br>
            A partir de ese momento comenzamos a ofrecer soluciones integrales en la web, no para mejorar nuestro negocio,
            sino para generar una red de emprendedores que pudieran nutrirse de la experiencia de todos.
            <br><br>
            En estos momentos nos especializamos en hacer de las pymes, empresas de alta competitividad tecnológica a
            precios muy competitivos.
            <br><br>
            No solo queremos que tus ventas sean mayores, sino que tu negocio como empresa, crezca y se desarrolle,
            deseamos, entre vos y nosotros, poder construir un futuro mejor para todas las PYMES de Argentina.
        </p>
    </div>

</div>

<div class="contenedor" id="equipo" style="position: relative; overflow: hidden" emit-menu>
    <div style="max-width: 850px; min-height: 150px; margin: auto; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px">
        <video poster="./images/poster.png" style="position: absolute;left: 0; top: 0;" preload="preload"
               id="video" autoplay="autoplay" loop="loop">
            <source src="./images/file.mp4" type="video/webm"></source>
        </video>
        <div class="rectangulo-titulo" style="position: absolute"></div>
        <span class="titulo-seccion" style="color: black; position: absolute">Nuestro Equipo.</span>
        <p class="parrafo-seccion" ac-animate animation-in="flex-servicios-animate"
           style="font-weight: bolder; color:white; font-size: 24px;top: 66px; position: absolute">A TUS
            ORDENES</p>
    </div>
    <div class="contenedor-flex" style="flex-direction: row; display: flex; flex-wrap:wrap; width: 100%">
        <div class="column" style="display:flex; flex-wrap:wrap; width: 100%">
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img
                    src="./images/foto-diego.png" alt="">
                <div class="overlay">
                    <span><b
                            style="font-weight: bolder; color: #E86C00">DIEGO YANKELEVICH</b><br>Diseñador Multimedia</span>
                </div>
            </div>
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img
                    src="./images/foto-pela.gif" alt="">
                <div class="overlay">
                        <span><b
                                style="font-weight: bolder; color: #E86C00">ARIEL CESSARIO</b><br>Programador Senior</span>
                </div>
            </div>
            <div class="contenedor-nosotros" style="flex: 1;min-width: 150px; min-height: 150px"><img
                    src="./images/foto-matata.gif" alt="">
                <div class="overlay">
                        <span><b
                                style="font-weight: bolder; color: #E86C00">MATEO MANEFF</b><br>Programador Senior</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="contenedor-flex" style="flex-direction: row; display: flex; flex-wrap:wrap; width: 100%">

    <div style="display:flex; flex-wrap:wrap; text-align:center; flex-direction: row; width: 100%;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */">
        <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate"
             style="flex: 1;min-width: 150px; min-height: 150px">
            <h1>56</h1>
            <h2>CLIENTES FELICES</h2>
        </div>
        <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate"
             style="flex: 1;min-width: 150px; min-height: 150px">
            <h1>30</h1>
            <h2>SITIOS WEB EN LINEA</h2>
        </div>
        <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate"
             style="flex: 1;min-width: 150px; min-height: 150px">
            <h1>10</h1>
            <h2>CAMPAÑAS SOCIALES</h2>
        </div>
        <div class="contenedor-estadisticas" ac-animate animation-in="flex-servicios-animate"
             style="flex: 1;min-width: 150px; min-height: 150px">
            <h1>2500</h1>
            <h2>TAZAS DE CAFE</h2>
        </div>
    </div>
</div>

<div class="menu-contacto">
    <svg ng-class="{'menu-selected':appCtrl.selected=='contacto'}" ng-click="appCtrl.goToAnchor('contacto')"
         style="height: 38px; margin-top: -30px;" height="64" version="1.1" width="64"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <desc>Created with Snap</desc>
        <defs></defs>
        <g>
            <path fill="#fff"
                  d="M61.693118,24.434001C61.693118,24.434001,2.3068820000000017,24.434001,2.3068820000000017,24.434001C2.3068820000000017,24.434001,31.999406,44.331985,31.999406,44.331985C31.999406,44.331985,61.693118,24.434001,61.693118,24.434001"></path>
            <polygon fill="#fff" points="50,61.447 99.998,27.447 99.998,83 0,83 0,27.447 "
                     transform="matrix(0.59386236,0,0,0.59386236,2.306882,10.338341)"></polygon>
        </g>
    </svg>
    <h1>Pedinos presupuesto sin cargo!</h1>
</div>
<div class="contenedor" style="background-color: black; min-height: 100px"></div>
</div>